@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");






.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Bad Script", cursive;
  width: 100%;
  font-size: 20px;
  min-height: 100%;
}

.header-wrapper {
  padding-bottom: 38px;
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  text-transform: ;
  letter-spacing: 1px;
  font-size: 1rem;
  box-shadow:  ;
  
}

.navbar-item.is-active{
  border-bottom: 1px solid #748567;
}

.a.navbar-item{
  color: #748567;
  
}


.hero {
  background-image: url(../image/bgg.jpg);
  background: linear-gradient(rgba(116, 133, 103, 0.85), rgba(116, 133, 103, 0.65)), rgba(0, 0, 0, 0.55) url(../image/bgg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family:  "Bad Script", cursive;
  
}

@media screen and (min-width: 769px), print {
    .hero.is-large .hero-body {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}
/* ИМЕНА */
.hero .title {
  font-family:  "Great Vibes", cursive;
  font-weight: 700;
  transform: rotate(-2deg);
  font-size: 7rem;
  padding-bottom: 5px;
  color: whitesmoke;
}
/* Приглашение на свадьбу 1 строка */
.hero .subtitle {
  padding: 35px;
  color: whitesmoke;
  font-size: 2.5rem;
}
/* место под именами */
.hero .tempatwaktu {
  padding-top: 35px;
  font-size: 1.5rem;
}

.hero .hero-foot {
  height: 75px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}
/* навигация */
.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 55px;
  font-weight: 600;
  text-transform: ;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-family: "Pacifico", cursive;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #748567;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #748567;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #748567;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #91a77c;
}


.space40px{
  height: 40px;
}

.space24px{
  height: 24px;
}

.main-content {
  padding-top: 2rem;
  color: #748567; 
  font-family: "Bad Script", cursive;
}
/*photo*/
.main-content .section-dark {
  background-color: #fbf7f2;
  padding: 40px 40px;
}

.main-content .section-darker {
  background-color: #f7f1e9;
  padding: 40px 40px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 60px;

}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}
/* НИЧЕГО */
.main-content .section-dark.resume button {
  border: 2px solid #748567;
  background: white;
  color: #748567;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #748567;
}

.main-content .section-dark.my-work {
  padding: 40px 40px;
}



@media (max-width: 599px) {
  .main-content .section-dark.foto-foto {
    padding: 75px 20px;
  }
}

.main-content .section-dark.contact {
  font-size: 1.7rem;
  font-family: "Bad Script", cursive;
  
}

.main-content .section-dark.foto-foto .foto-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.section-map {
  padding: 0 0 0 0 ;
}

.main-content .section-light {
  padding: 40px 40px;
  font-size: 2rem;
  font-family: "Bad Script", cursive;
}

.main-content .section-light.regular-section {
  padding-bottom: 160px;
  
}


.main-content .section-light.regular-section .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.regular-section .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
  font-size: 24px;
}

.main-content .section-light.contact {
  padding: 80px;
}

.main-content .section-light.contact button {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Bad Script", cursive;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 80px 40px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #748567;
  color: white;
}

.main-content .section-color.pertanyaan .title,
.main-content .section-color.pertanyaan .subtitle {
  color: white;
}

.main-content .section-color.pertanyaan i {
  font-size: 3rem;
  padding: 20px;
}
/* ВРЕМЯ заголовок */
.main-content .section-title {
  font-family: "Bad Script", cursive;
  font-weight: 900;
  color: #748567;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 0px;
  padding: 10px;
}
/*NAMES*/
.nama-lengkap {
  font-family: "Pacifico", cursive;
  color: #748567;
  font-size: 5.5rem;
  letter-spacing: 0px;
  padding-bottom: 6px;
  line-height: 3.7rem;
}

.ampersand {
font-size: 5rem;
font-family: 'Rouge Script', sans-serif;
color: #748567;
line-height: 5rem;
display: inline-block;
vertical-align: middle;
}

.bodytext {
  font-size: 2rem;
}
/* тект */
.waktu {
  font-size: 1.4rem;
  font-family: 'Bad Script', cursive;
  color: #748567;
}
/*30*/
.tanggal-angka {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  line-height: 1;
}

.tempat {
  font-size: 2rem;
  font-family: "Bad Script", cursive;
  color: #748567;
  margin-bottom: 50px;
}


.has-vertically-align {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #91a77c;
  color: whitesmoke;    
}

.footer p {
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}


.main-content .no-padding-top {
  padding-top: 0px;
}

.footer img{
  margin: 10px 0px 10px 10px;
  display: inline-block;
  max-height: 24px;
  vertical-align: middle;
}

.footer a .nav-item {
  color: whitesmoke;
}


.divider {
  margin: 40px 25px;
  display: inline-block;
  max-height: 60px;
  vertical-align: middle;
}

.bismillah {
  margin: 25px;
  display: inline-block;
  max-height: 50px;
  vertical-align: middle;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #748567;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #8fa480;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fbf7f2;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #748567;
  -webkit-box-shadow: inset 0 0 6px #748567;
  background-color: #8fa480;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #abbd9d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

.btn-cta:hover {
  color:white;
  background-color: #88a473;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #88a473;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: #748567;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #748567;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
}


.button-download {
  min-width: 200px;
  height: 55px;
  align-items: center;
  margin: 0.1rem;

}

.voucher-code {
  height: 55px;
  max-width: 180px;
  border: 2px solid #26ade4;
  border-radius: 10px 0 0 10px  ;
  font-size: 24px;
  padding: 15px;
}


.fa-copy {
  margin-right: 5px;
}
.white
{color:ghostwhite}


.dusty-pink {color: #abbd9d}
.dusty-pink-lighter {color: #f7f1e9}
.dusty-pink-lightest {color: #fbf7f2}
.dusty-pink-darker {color: #8fa480}
.dusty-pink-darkest {color: #748567}

.tile {
  border-radius: 10px;
}

.foto1 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/j.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto2 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/b.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto3 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/c.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto4 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/d.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto5 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/e.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto6 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/f.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto7 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/g.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}

.foto8 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.25), rgba(48, 47, 47, 0.5)), url("../image/h.jpg");
  background-size: 100%;
  padding-top: 100%;
  border-radius: 20px;
}






.title-foto {
  font-size: 18pt;
  font-family: "Bad Script", cursive;
  font-weight: 700;
  text-align: left;
  color: white;
}


.subtitle-foto {
  font-family: "Bad Script", cursive;
  font-weight: 700;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  color: white;
}

.section-light {
  background-image: url(../image/divider-flowers-leaves.png);
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}

strong {
  
  color: #48573d;          /* меняет цвет текста */
  font-size: 2.5rem;     /* увеличивает размер шрифта */
}
